input[type='file'] {
  display: none;
}

.file-input {
  content: 'Upload image';
}

select {
  padding: 4px;
}

input {
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid var(--color-border);
}
