.puzzle-container {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
}

.puzzle {
  --row-count: 3;
  --col-count: 3;
  --gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 90vh;
}

.puzzle__control {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.control-end {
  margin-left: auto;
}

.puzzle__board {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.13);
  /* padding: 4px; */
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;

  margin: 16px auto 0 auto;
}

.puzzle-piece {
  color: var(--color-text-white);
  will-change: transform;
  aspect-ratio: 1/1;
  transition: transform 150ms ease-out;
  cursor: pointer;
  user-select: none;
}

.puzzle-piece__content {
  background-color: #e76f51;
  border: 1px solid var(--color-border);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.puzzle-piece__content--complete {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.puzzle__footer {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-top: 12px;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.puzzle-reference__heading {
  padding: 12px 0;
}

.puzzle-reference__image {
  width: 100%;
}

@keyframes jump {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }

  67% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(-10%, -10%, 0);
  }

  80% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(-10%, -10%, 0);
  }

  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

@media (min-width: 992px) {
  .puzzle-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
