.puzzle {
  --row-count: 3;
  --col-count: 3;
  --gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.puzzle__board {
  border: 1px solid black;
  /* padding: 4px; */
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  max-height: 90vh;
  margin-inline: auto;
}

.puzzle-piece {
  will-change: transform;
  background-color: #e76f51;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  transition: transform 150ms ease-out;
  cursor: pointer;
  user-select: none;
}

.puzzle__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

@media (min-width: 992px) {
  .puzzle {
    width: 67%;
  }
}
